<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - CoffeeChess</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/app-header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/chessboardjs/chessboard-1.0.0.css" />
    <link rel="stylesheet" href="~/css/components/game/_chessboard.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:wght@400&display=swap" 
          rel="stylesheet">
</head>
<body>
<header class="app-header">
    <nav class="main-nav">
        <div class="nav-left">
            <a asp-controller="Game" asp-action="GameCreation" class="nav-link">Play</a>
            <a asp-controller="Settings" asp-action="Index" class="nav-link">Settings</a>
        </div>
        <div class="nav-logo">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/img/coffee-cup.png" alt="Coffee Chess Logo"/>
            </a>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="nav-right">
                <a asp-controller="GamesHistory" asp-action="GamesHistory" id="username" 
                   class="nav-link">@User.Identity.Name</a>
                <a asp-controller="GamesHistory" asp-action="GamesHistory" class="nav-avatar">
                    <img src="/img/empty-avatar-icon.png"/>
                </a>
            </div>
        }
        else
        {
            <div class="nav-right">
                <a asp-controller="Account" asp-action="Login" class="nav-link">Log in</a>
                <a asp-controller="Account" asp-action="Register" class="nav-link">Sign up</a>
            </div>
        }
    </nav>
</header>
<video autoplay muted loop class="background-video">
    <source src="~/img/background.mp4" type="video/mp4">
</video>
<audio id="musicPlayer"></audio>

<main role="main" class="pb-3">
    @RenderBody()
</main>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/music-player.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/signalr/signalr.min.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>