<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - CoffeeChess</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/app-header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/chessboardjs/chessboard-1.0.0.css" />
    <link rel="stylesheet" href="~/css/components/game/_chessboard.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:wght@400&display=swap" 
          rel="stylesheet">
</head>
<body>
<header class="app-header">
    <nav class="main-nav">
        <div class="nav-left">
            <a class="ajax-nav-link nav-link" asp-controller="Game" asp-action="GameCreation">Play</a>
            <a asp-controller="Settings" asp-action="Index" class="nav-link">Settings</a>
        </div>
        <div class="nav-logo">
            <a class="ajax-nav-link" asp-controller="Home" asp-action="Index">
                <img src="~/img/coffee-cup.png" alt="Coffee Chess Logo"/>
            </a>
        </div>
        @if (User.Identity is not null && User.Identity.IsAuthenticated)
        {
            <div class="nav-right">
                <a id="username" class="ajax-nav-link nav-link"
                   asp-controller="GamesHistory" asp-action="GamesHistory">@User.Identity.Name</a>
                <a class="ajax-nav-link nav-avatar"
                   asp-controller="GamesHistory" asp-action="GamesHistory">
                    <img src="/img/empty-avatar-icon.png" alt="avatar"/>
                </a>
            </div>
        }
        else
        {
            <div class="nav-right">
                <a class="ajax-nav-link nav-link" asp-controller="Account" asp-action="Login">Log in</a>
                <a class="ajax-nav-link nav-link" asp-controller="Account" asp-action="Register">Sign up</a>
            </div>
        }
    </nav>
</header>

<div class="music-player-panel">
    <div class="music-player-info">
        <button id="hideButton" class="hide-button"></button>
        <div class="song-info">
            <img id="songCover" class="song-cover" src="" alt="cover"/>
            <div class="song-title-and-visualizer-container">
                <div class="song-title-container">
                    <span id="songAuthor" class="author"></span>
                    <span id="songTitle" class="song"></span>
                </div>
            </div>
        </div>
        <div class="song-controls-container">
            <button id="previousButton" class="song-control previous">
                <img src="~/img/song-control-triangle.png" alt="previous"/>
                <img src="~/img/song-control-triangle.png" alt="previous"/>
            </button>
            <button id="pauseButton" class="song-control pause">
                <img class="pause" src="~/img/song-control-pause.png" alt="pause"/>
            </button>
            <button id="nextButton" class="song-control next">
                <img src="~/img/song-control-triangle.png" alt="next"/>
                <img src="~/img/song-control-triangle.png" alt="next"/>
            </button>
        </div>
    </div>
    <button id="extendButton" class="extend-button">
        <img src="~/img/song-extend-icon.png" alt="extended"/>
    </button>
    <div id="songsList" class="songs-list dark-scrollable">
        
    </div>
</div>

<video autoplay muted loop class="background-video">
    <source src="~/img/background.mp4" type="video/mp4">
</video>
<audio id="musicPlayer"></audio>

<main role="main" class="pb-3">
    @RenderBody()
</main>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="module" src="~/js/music-player/music-player.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/signalr/signalr.min.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>