.milk-scrollable::-webkit-scrollbar {
    width: 10px;
}

.milk-scrollable::-webkit-scrollbar-thumb {
    background-color: var(--milk-coffee);
    border-radius: 6px;
}

.milk-scrollable::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 214, 186, 0.6);
}

.milk-scrollable::-webkit-scrollbar-track {
    background-color: var(--milk-coffee-unselected);
    border-radius: 6px;
}

.dark-scrollable::-webkit-scrollbar {
    width: 10px;
}

.dark-scrollable::-webkit-scrollbar-thumb {
    background-color: var(--dark-coffee);
    border-radius: 6px;
}

.dark-scrollable::-webkit-scrollbar-thumb:hover {
    background-color: rgba(43, 17, 0, 0.6);
}

.dark-scrollable::-webkit-scrollbar-track {
    background-color: var(--dark-coffee-unselected);
    border-radius: 6px;
}