<div id="welcomePageOverlay" class="welcome-page-overlay hide"></div>
<span id="welcomeTitleForAnimation" class="welcome-title milk hide">Welcome!</span>
<div id="welcomeTitleOverlay" class="welcome-title-overlay hide"></div>
<div class="welcome-panel hideable textured-background-1 milk" data-animation-order="1">
    <span id="welcomeTitle" class="welcome-title dark">Welcome!</span>
    <p class="welcome-text">
        It's a Coffee-Chess® — a chess
        website with coffee identity, a
        cute place where you can play
        chess and relax...
    </p>
    @if (User.Identity is not null && User.Identity.IsAuthenticated)
    {
        <div class="welcome-buttons-container">
            <a class="ajax-nav-link welcome-button"
               asp-controller="Game" asp-action="GameCreation">Play</a>
        </div>
    }
    else
    {
        <div class="welcome-buttons-container">
            <a class="ajax-nav-link welcome-button" asp-controller="Account" asp-action="Login">Log in</a>
            <a class="welcome-button ajax-nav-link" asp-controller="Account" asp-action="Register">Sign up</a>
        </div>
    }
</div>