<div class="welcome-panel" data-animation-order="0">
    <h1 class="welcome-title">Welcome!</h1>
    <p class="welcome-text">
        It's a Coffee-Chess® — a chess
        website with coffee identity, a
        cute place where you can play
        chess and relax...
    </p>
    @if (User.Identity is not null && User.Identity.IsAuthenticated)
    {
        <div class="welcome-buttons-container">
            <a class="ajax-nav-link welcome-button"
               asp-controller="Game" asp-action="GameCreation">Play</a>
        </div>
    }
    else
    {
        <div class="welcome-buttons-container">
            <a class="ajax-nav-link welcome-button" asp-controller="Account" asp-action="Login">Log in</a>
            <a class="welcome-button ajax-nav-link" asp-controller="Account" asp-action="Register">Sign up</a>
        </div>
    }
</div>