<div class="welcome-panel" data-animation-order="0">
    <h1 class="welcome-title">Welcome!</h1>
    <p class="welcome-text">
        It's a Coffee-Chess® — a chess
        website with coffee identity, a
        cute place where you can play
        chess and relax...
    </p>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="welcome-buttons-container">
            <a asp-controller="Game" asp-action="GameCreation" class="welcome-button ajax-nav-link" 
               data-url="@Url.Action("GameCreation", "Game")">Play</a>
        </div>
    }
    else
    {
        <div class="welcome-buttons-container">
            <a asp-controller="Account" asp-action="Login" class="welcome-button ajax-nav-link" 
               data-url="@Url.Action("Login", "Account")">Log in</a>
            <a asp-controller="Account" asp-action="Register" class="welcome-button ajax-nav-link" 
               data-url="@Url.Action("Register", "Account")">Sign up</a>
        </div>
    }
</div>