<div class="music-player-panel">
    <div class="song-info">
        <img id="songCover" class="song-cover" src="" alt="cover"/>
        <div class="song-title-and-visualizer-container">
            <div class="song-title-container">
                <span id="songAuthor" class="author"></span>
                <span id="songTitle" class="song"></span>
            </div>
            <img class="visualizer" src="~/img/visualizer.png" alt="visualizer"/>
        </div>
    </div>
    <div class="song-controls-container">
        <div class="song-control previous">
            <img src="~/img/song-next.png" alt="previous"/>
        </div>
        <div class="song-control pause">
            <img src="~/img/song-pause.png" alt="pause"/>
        </div>
        <div class="song-control next">
            <img src="~/img/song-next.png" alt="next"/>
        </div>
    </div>
    <img class="volume-slider" src="~/img/song-volume-slider.png" alt="slider"/>
</div>
<div class="welcome-panel" data-animation-order="0">
    <h1 class="welcome-title">Welcome!</h1>
    <p class="welcome-text">
        It's a Coffee-Chess® — a chess
        website with coffee identity, a
        cute place where you can play
        chess and relax...
    </p>
    @if (User.Identity is not null && User.Identity.IsAuthenticated)
    {
        <div class="welcome-buttons-container">
            <a asp-controller="Game" asp-action="GameCreation" class="welcome-button ajax-nav-link" 
               data-url="@Url.Action("GameCreation", "Game")">Play</a>
        </div>
    }
    else
    {
        <div class="welcome-buttons-container">
            <a asp-controller="Account" asp-action="Login" class="welcome-button ajax-nav-link" 
               data-url="@Url.Action("Login", "Account")">Log in</a>
            <a asp-controller="Account" asp-action="Register" class="welcome-button ajax-nav-link" 
               data-url="@Url.Action("Register", "Account")">Sign up</a>
        </div>
    }
</div>