<div class="games-history-panel">
    <p class="games-history-title">History</p>
    
    <div id="gamesHistory" class="games-history">
        <div class="game-info-container win-or-draw">
            <div class="names-container">
                <div class="name-rating-container">
                    <span class="name">Pizza_Love</span>
                    <span class="rating">1783</span>
                </div>
                <div class="name-rating-container">
                    <span class="name">ILikeSpaghetti</span>
                    <span class="rating">1803</span>
                </div>
            </div>
            <div class="result-rating-change-container">
                <div class="rating-change-container">
                    <span>+8</span>
                    <span>-8</span>
                </div>
                <div class="result-container">
                    <span>1</span>
                    <span>0</span>
                </div>
            </div>
            <span class="games-history-date">
                17.07.2025
            </span>
            <span class="games-history-time-control">
                3+2
            </span>
        </div>
        
        <div class="game-info-container lose">
            <div class="names-container">
                <div class="name-rating-container">
                    <span class="name">Pizza_Love</span>
                    <span class="rating">1783</span>
                </div>
                <div class="name-rating-container">
                    <span class="name">ILikeSpaghetti</span>
                    <span class="rating">1803</span>
                </div>
            </div>
            <div class="result-rating-change-container">
                <div class="rating-change-container">
                    <span>+8</span>
                    <span>-8</span>
                </div>
                <div class="result-container">
                    <span>0</span>
                    <span>1</span>
                </div>
            </div>
            <span class="games-history-time-control">
                3+2
            </span>
            <span class="games-history-date">
                17.07.2025
            </span>
        </div>
    </div>
    
    <div id="paginationPanel" class="pagination-panel">
        <a class="pagination-button current">1</a>
        <a class="pagination-button">2</a>
        <a class="pagination-button">3</a>
        <a class="pagination-button">4</a>
        <span class="ellipsis">...</span>
        <a class="pagination-button">99</a>
    </div>
</div>