<div data-page-module="games-history"></div>
<div class="games-history-panel hideable" data-animation-order="1">
    <p class="games-history-title">History</p>
    
    <div id="gamesHistory" class="games-history dark-scrollable">
        <span id="errorMessage" class="error-message"></span>
    </div>
    
    <div id="paginationPanel" class="pagination-panel">
        <a class="pagination-button current">1</a>
    </div>
</div>