<div data-page-module-src="/js/game/read/review.js"></div>
<div class="game-left-panel hideable" data-animation-order="1">
    <div class="spacer-for-music-player"></div>
    <div class="chat-panel">
        <p class="chat-title">Chat</p>
        <div id="chatMessages" class="milk-scrollable">
            <div class="chat-message">
                <span class="chat-message-sender">Coffee shop:</span>
                <span class="chat-message-text">Game will start in 3... 2... 1... Play!</span>
            </div>
        </div>
    </div>
</div>
<div class="game-middle-panel hideable" data-animation-order="2">
    <div class="player-info">
        <div class="player-avatar">
            <img src="/img/empty-avatar-icon.png" alt="Avatar"/>
        </div>
        <div class="player-nick-and-rating">
            <span class="player-nick" id="blackUsername">?</span>
            <span class="player-rating" id="blackRating">?</span>
        </div>
        <div class="info-container">
            <span class="info" id="blackTimeLeft">
                ??:??
            </span>
        </div>
        <div class="info-container">
            <span class="info" id="blackPoints">
                ?
            </span>
        </div>
    </div>
    <div class="game-board-container">
        <div id="reviewBoard"></div>
    </div>
    <div class="player-info">
        <div class="player-avatar">
            <img src="/img/empty-avatar-icon.png" alt="Avatar"/>
        </div>
        <div class="player-nick-and-rating">
            <span class="player-nick" id="whiteUsername">?</span>
            <span class="player-rating" id="whiteRating">?</span>
        </div>
        <div class="info-container">
            <span class="info" id="whiteTimeLeft">
                ??:??
            </span>
        </div>
        <div class="info-container">
            <span class="info" id="whitePoints">
                ?
            </span>
        </div>
    </div>
</div>

<div class="game-right-panel hideable" data-animation-order="3">
    <div class="moves-history">
        <p class="history-title">Moves</p>
        <div class="history milk-scrollable" id="history">
            <div class="history-subtitles">
                <div class="history-subtitle-number">№.</div>
                <div class="history-subtitle">White</div>
                <div class="history-subtitle">Black</div>
            </div>
        </div>
        <div class="resign-draw-info">
            <div id="resignDrawButtonsContainer" class="resign-draw-buttons">
                <button id="resultInfoButton" class="resign-draw-button">Result info</button>
                <button id="shareButton" class="resign-draw-button">Share</button>
            </div>
        </div>
    </div>
</div>

<div id="modalOverlay" class="modal-overlay"></div>

<div id="sharePanel" class="modal-panel share">
    <span class="modal-title dark">Share</span>
    <div class="modal-sections">
        <div class="modal-section dark">
            <p class="modal-section-title dark dark-scrollable">PGN:</p>
            <div class="modal-text-wrapper dark">
                <textarea id="pgnToShare" class="modal-text milk milk-scrollable" readonly></textarea>
                <div class="modal-text-options">
                    <button id="pgnCopyButton" class="modal-text-option">
                        <img src="~/img/copy-milk-icon.png" alt="copy"/>
                    </button>
                    <button id="addTimersInfoButton" class="modal-text-option">
                        <img src="~/img/clock-milk-icon.png" alt="timers info"/>
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-section">
            <p class="modal-section-title dark">FEN:</p>
            <div class="modal-text-line-wrapper dark">
                <input type="text" id="fenToShare" class="modal-text-line milk" readonly/>
                <button id="fenCopyButton" class="modal-text-option">
                    <img src="~/img/copy-milk-icon.png" alt="copy"/>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-buttons">
        <button id="closeShareButton" class="modal-button dark">
            Close
        </button>
    </div>
</div>

<div id="resultPanel" class="modal-panel review">
    <div class="result-detailed">
        <p id="resultTitle" class="modal-title"></p>
        <p id="resultInfo" class="result-info"></p>
    </div>
    <div class="modal-sections">
        <div class="modal-section rating-section review">
            <p class="modal-section-title">New rating:</p>
            <div class="result-ratings-info">
                <p id="oldRating" class="result-info"></p>
                <p id="ratingDelta" class="result-info"></p>
                <p id="newRating" class="result-info"></p>
            </div>
        </div>
        <div class="modal-section review">
            <p class="modal-section-title">Time control:</p>
            <p class="result-info" id="timeControl"></p>
        </div>
        <div class="modal-section review">
            <p class="modal-section-title">Played at:</p>
            <p class="result-info" id="playedAt"></p>
        </div>
    </div>
    <div class="modal-buttons">
        <button id="closeButton" class="modal-button">
            Close
        </button>
    </div>
</div>