@model CoffeeChess.Web.Models.RegisterViewModel

<div class="register-panel" data-animation-order="0">
    <h1 class="register-title">Registration</h1>
    <form asp-action="Register" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" id="registerForm">
        @Html.AntiForgeryToken() 
        
        <div asp-validation-summary="ModelOnly" class="register-error auth-validation-summary"></div>

        <div class="register-input-group">
            <input asp-for="UserName" class="register-input" placeholder="Login" />
            <span asp-validation-for="UserName" class="register-error"></span>
        </div>
        <div class="register-input-group">
            <input asp-for="Email" class="register-input" placeholder="Email" />
            <span asp-validation-for="Email" class="register-error"></span>
        </div>
        <div class="register-input-group">
            <input asp-for="Password" class="register-input" placeholder="Password" />
            <span asp-validation-for="Password" class="register-error"></span>
        </div>
        <div class="register-input-group">
            <input asp-for="ConfirmPassword" class="register-input" placeholder="Repeat password" />
            <span asp-validation-for="ConfirmPassword" class="register-error"></span>
        </div>
        <button type="submit" class="register-button">Sign up</button>
    </form>
    <p class="register-switch-to-login-link">
        Already have an account? 
        <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" class="register-link" data-url="@Url.Action("Login", "Account", new { returnUrl = ViewData["ReturnUrl"] })">Log in</a>
    </p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}