.chessboard-63f37 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-b72b1 {
    border: none;
    border-radius: 40px;
    overflow: hidden;
}

.highlight2-9c5d2, 
.highlight1-32417 {
    box-shadow: inset 0 0 0 4px var(--dark-coffee-unselected);
}

.white-1e1d7,
.black-3c85d {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.white-1e1d7 {
    background-color: var(--milk-coffee-chess-square);
    transform: scale(1.01, 1.01);
    color: var(--dark-coffee);
}

.black-3c85d {
    background-color: var(--dark-coffee-chess-square);
    color: var(--milk-coffee);
}

.piece-417db {
    cursor: grab;
}

.piece-417db.grabbing {
    cursor: grabbing;
}

.board-b72b1 {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.row-5277c {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.white-1e1d7.highlighted-square {
    background-color: var(--milk-coffee-chess-square-highlighted);
}

.black-3c85d.highlighted-square {
    background-color: var(--dark-coffee-chess-square-highlighted);
}