.waiting-panel {
    background-color: var(--milk-coffee);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;

    box-sizing: border-box;
    padding: 20px 50px;

    width: 550px;
    height: 550px;
    top: 54.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50px;
    box-shadow:
            0 0 0 8px var(--dark-coffee),
            0 0 0 12px var(--milk-coffee);
}

.coffee-gif {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 50px
}

.waiting-title {
    font-family: 'Caprasimo', sans-serif;
    color: var(--dark-coffee);
    font-size: 60px;
    text-shadow:
            -3px 3px 0 var(--milk-coffee),
            -5px 5px 0 var(--dark-coffee);
    margin: 0;
}

.conditions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.game-condition {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}

.condition-title {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-coffee);
}

.condition {
    font-family: 'Caprasimo', sans-serif;
    color: var(--dark-coffee);
}

.cancel-button {
    background-color: var(--dark-coffee);
    color: var(--milk-coffee);
    text-decoration: none;

    border-radius: 100px;
    width: 120px;
    height: 40px;
    margin-bottom: 10px;
    box-shadow:
            -3px 3px 0 var(--milk-coffee),
            -5px 5px 0 var(--dark-coffee);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Caprasimo', sans-serif;
    font-size: 25px;

    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cancel-button:active {
    transform: translate(-5px, 5px);
    box-shadow:
            0 0 0 var(--milk-coffee),
            0 0 0 var(--dark-coffee);
}