.game-left-panel {
    position: absolute;
    top: 55%;
    left: calc((50% - 570px / 2) / 2);
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    box-sizing: border-box;
    width: 330px;
    height: 550px;
}

.music-player-panel {
    flex: 0 0 auto;
    width: 100%;
    height: 200px;

    background-color: var(--milk-coffee);
    border-radius: 50px;
    box-shadow:
            0 0 0 8px var(--dark-coffee),
            0 0 0 12px var(--milk-coffee);
}

.chat-panel {
    flex: 1 1 auto;
    min-height: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;

    width: 100%;
    background-color: var(--dark-coffee);

    border-radius: 50px;
    box-shadow:
            0 0 0 8px var(--milk-coffee),
            0 0 0 12px var(--dark-coffee);
}

.chat-title {
    flex: 0 0 auto;
    font-family: 'Caprasimo', sans-serif;
    font-size: 30px;
    color: var(--milk-coffee);
    margin: 0;
}

#chatMessages {
    flex: 1 1 auto;
    min-height: 0;

    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
    overflow-y: auto;
}

.chat-message-sender {
    font-family: 'Caprasimo', sans-serif;
    color: var(--milk-coffee);
}

.chat-message-text {
    font-family: 'Montserrat', sans-serif;
    color: var(--milk-coffee);
    word-break: break-word;
}

#chatInput {
    flex: 0 0 auto;

    width: 90%;
    height: 40px;
    padding: 0 10px;

    font-family: 'Montserrat', sans-serif;
    background-color: var(--milk-coffee);
    color: var(--dark-coffee);

    border: none;
    border-radius: 50px;
    box-sizing: border-box;
}

#chatInput::placeholder {
    color: var(--dark-coffee-unselected);
}

#chatInput:focus {
    outline-offset: 2px;
    outline: 2px solid var(--milk-coffee);
}

.game-middle-panel {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 10px;

    width: 550px;
    height: 550px;

    background-color: var(--dark-coffee);
    border-radius: 50px;
    box-shadow:
            0 0 0 8px var(--milk-coffee),
            0 0 0 12px var(--dark-coffee);
}

#myBoard {
    width: 100%;
    height: 100%;
}