.chat-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;

    width: 100%;
    flex: 1;
    min-height: 0;
    background-color: var(--dark-coffee);

    border-radius: 50px;
    box-shadow:
            0 0 0 8px var(--milk-coffee),
            0 0 0 12px var(--dark-coffee);
}

.chat-title {
    flex: 0 0 auto;
    font-family: 'Caprasimo', sans-serif;
    font-size: 30px;
    color: var(--milk-coffee);
    margin: 0;
}

#chatMessages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    min-height: 0;
    width: 100%;
    overflow-y: auto;
}

.chat-message-sender {
    font-family: 'Caprasimo', sans-serif;
    color: var(--milk-coffee);
}

.chat-message-text {
    font-family: 'Montserrat', sans-serif;
    color: var(--milk-coffee);
    word-break: break-word;
}

#chatInput {
    flex: 0 0 auto;

    width: 90%;
    height: 40px;
    padding: 0 10px;

    font-family: 'Montserrat', sans-serif;
    background-color: var(--milk-coffee);
    color: var(--dark-coffee);

    border: none;
    outline: none;
    border-radius: 50px;
    box-sizing: border-box;

    transition: box-shadow 0.3s ease;
    box-shadow:
            0 0 0 2px transparent,
            0 0 0 4px transparent;
}

#chatInput::placeholder {
    color: var(--dark-coffee-unselected);
}

#chatInput:focus {
    box-shadow:
            0 0 0 2px var(--dark-coffee),
            0 0 0 4px var(--milk-coffee);
}