.modal-panel {
    display: none;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: 54.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 300px;

    padding: 30px 10px;
    box-sizing: border-box;
    z-index: 4;

    animation: open 0.3s ease;
}

.modal-panel.share,
.modal-panel.review {
    height: 400px;
}

.modal-panel.share {
    padding: 10px 30px;
}

.modal-panel.milk {
    background-color: var(--milk-coffee);
    border-radius: 50px;
    box-shadow:
            0 0 0 8px var(--dark-coffee),
            0 0 0 12px var(--milk-coffee);

    animation: open 0.3s ease;
}

.modal-panel.dark {
    background-color: var(--dark-coffee);
    border-radius: 50px;
    box-shadow:
            0 0 0 8px var(--milk-coffee),
            0 0 0 12px var(--dark-coffee);

    animation: open 0.3s ease;
}

@keyframes open {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }

    60% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(1.1);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.modal-panel.close {
    animation: close 0.3s ease;
}

@keyframes close {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    40% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(1.1);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
}

.result-detailed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.modal-title {
    font-family: 'Caprasimo', sans-serif;
    font-size: 35px;
    margin: 0;
}

.modal-title.milk {
    color: var(--milk-coffee);
    text-shadow:
            -4px 4px 0 var(--dark-coffee),
            -5px 5px 0 var(--milk-coffee);
}

.modal-title.dark {
    color: var(--dark-coffee);
    text-shadow:
            -2px 2px 0 var(--milk-coffee),
            -4px 4px 0 var(--dark-coffee);
}

.modal-text-wrapper {
    border-radius: 25px;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
}

.modal-text-wrapper.dark {
    background-color: var(--dark-coffee);
}

.modal-text-wrapper.milk {
    background-color: var(--milk-coffee);
}

.modal-text,
.modal-text-line {
    font-family: Montserrat, sans-serif;
    width: 100%;
    box-sizing: border-box;
}

.modal-text-line {
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    
    overflow-x: hidden;
    overflow-y: hidden;
    height: 35px;
    padding: 0 15px;
}

.modal-text {
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    height: 150px;
    padding: 5px;
}

.modal-text.dark,
.modal-text-line.dark {
    outline: none;
    color: var(--dark-coffee);
    border: 5px solid var(--dark-coffee);
    background-color: var(--milk-coffee);
}

.modal-text.milk,
.modal-text-line.milk {
    outline: none;
    border: none;
    color: var(--milk-coffee);
    background-color: var(--dark-coffee);
}

.result-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 0;
}

.result-info.milk,
.modal-section-title.milk,
.result-info.milk {
    color: var(--milk-coffee);
}

.result-info.dark,
.modal-section-title.dark,
.result-info.dark {
    color: var(--dark-coffee);
}

.modal-sections {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 100%;
}

.modal-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.modal-section.review {
    gap: 3px;
}

.modal-section.rating-section {
    transform: translateY(-27%);
    margin-bottom: 17px;
}

.modal-section.rating-section.review {
    transform: none;
}

.modal-section-title,
.result-info {
    font-size: 15px;
    margin: 0;
    text-align: center;
}

.result-info {
    font-family: 'Montserrat', sans-serif;
}

.modal-section-title {
    font-family: 'Caprasimo', sans-serif;
}

.result-ratings-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#oldRating {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#oldRating.show {
    opacity: 1;
}

#oldRating::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 1.5px;
    background: currentColor;
    transform: translateY(-50%);
    transition: width 0.3s ease;
}

#oldRating.dark.strike {
    color: var(--dark-coffee-unselected);
}

#oldRating.milk.strike {
    color: var(--milk-coffee-unselected);
}

#oldRating.strike::after {
    width: 100%;
}

#ratingDelta {
    position: absolute;

    opacity: 0;
    left: 0;

    top: 0;
    transition: opacity 0.3s ease, left 0.3s ease;
}

#ratingDelta.show {
    opacity: 1;
    left: 110%;
}

#newRating {
    position: absolute;
    opacity: 0;
    top: 0;
}

#newRating.show {
    opacity: 1;
    top: 100%
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.modal-button {
    border: none;
    border-radius: 100px;
    width: 100px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Caprasimo', sans-serif;
    font-size: 15px;

    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.modal-button.milk {
    background-color: var(--milk-coffee);
    color: var(--dark-coffee);

    box-shadow:
            -2px 2px 0 var(--dark-coffee),
            -3px 3px 0 var(--milk-coffee);
}

.modal-button.milk:active {
    transform: translate(-3px, 3px);
    box-shadow:
            0 0 0 var(--dark-coffee),
            0 0 0 var(--milk-coffee);
}

.modal-button.dark {
    background-color: var(--dark-coffee);
    color: var(--milk-coffee);

    box-shadow:
            -2px 2px 0 var(--milk-coffee),
            -3px 3px 0 var(--dark-coffee);
}

.modal-button.dark:active {
    transform: translate(-3px, 3px);
    box-shadow:
            0 0 0 var(--milk-coffee),
            0 0 0 var(--dark-coffee);
}