.promotion-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: grid;
    opacity: 0;
    grid-template-rows: 0fr;
    pointer-events: none;
    transition: opacity 0.3s ease, grid-template-rows 0.3s ease;
    
    background-color: var(--milk-coffee-chess-square);
    box-shadow:
            0 0 0 4px var(--dark-coffee),
            0 0 0 6px var(--milk-coffee);
    border-radius: 20px;
    
    z-index: 4;
    overflow: hidden;
}

.promotion-panel.show {
    opacity: 1;
    grid-template-rows: 1fr;
    pointer-events: auto;
}

.promotion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 0;
}

.promotion-piece,
.promotion-cross {
    width: 66px;
    height: 66px;
    
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.promotion-piece {
    display: none;
}

.promotion-piece:hover,
.promotion-cross:hover {
    background-color: var(--milk-coffee-chess-square-highlighted);
    transform: scale(1.05);
}