@import "components/_welcome-panel.css";
@import "components/_register-panel.css";
@import "components/_login-panel.css";
@import "components/game/_game.css";
@import "components/game/_game-creation.css";
@import "components/game/_game-waiting.css";
@import "components/completed-games/_games-history.css";

:root {
    --milk-coffee: #FFE6D4;
    --dark-coffee: #2B1100;
    --milk-coffee-unselected: #aa917f;
    --dark-coffee-unselected: #806655;
    --milk-coffee-chess-square: rgb(255, 230, 212);
    --dark-coffee-chess-square: rgb(171, 129, 99);
    --milk-coffee-chess-square-highlighted: #f1cfb7;
    --dark-coffee-chess-square-highlighted: #dab8a0;
}

html, 
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}


.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.caprasimo {
    font-family: 'Caprasimo', sans-serif;
}