:root {
    --white-coffee: #FFE6D4;
    --dark-coffee: #2B1100;
    --white-coffee-unselected: rgba(255, 230, 212, 0.6);
    --dark-coffee-unselected: rgba(43, 17, 0, 0.6);
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.caprasimo {
    font-family: 'Caprasimo', sans-serif;
}