@import "components/shared/_texture.css";
@import "components/_welcome-panel.css";
@import "components/_register-panel.css";
@import "components/_login-panel.css";
@import "components/game/_game.css";
@import "components/game/_game-creation.css";
@import "components/game/_game-waiting.css";
@import "components/_games-history.css";
@import "components/_music-player.css";
@import "components/shared/_scrollable.css";
@import "components/shared/_hideable.css";

:root {
    --milk-coffee: #ffcba8;
    --dark-coffee: #2b1100;
    --milk-coffee-unselected: #af876d;
    --dark-coffee-unselected: #95735d;
    --milk-coffee-chess-square: rgb(255, 203, 168);
    --dark-coffee-chess-square: rgb(171, 129, 99);
    --milk-coffee-chess-square-highlighted: #d7a989;
    --dark-coffee-chess-square-highlighted: #9a7358;
}

html, 
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    background-color: var(--dark-coffee);
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.caprasimo {
    font-family: 'Caprasimo', sans-serif;
}