<div class="game-creation-extended-panel">
    <p class="game-creation-extended-title">Extended</p>
    <form class="game-creation-extended-form" method="post">
        <div class="form-section">
            <p class="extended-subtitle">Time control</p>
            <div class="form-values">
                <input type="number" min="1" max="180" placeholder="Mins" onchange="validateTime(this)" class="form-input"/>
                <p class="separator">I</p>
                <input type="number" min="0" max="59" placeholder="Secs" onchange="validateTime(this)" class="form-input"/>
            </div>
        </div>
        
        <div class="form-section">
            <p class="extended-subtitle">Color</p>
            <div class="form-values">
                <label class="any">
                    <input class="color-radio" type="radio" id="any" value="Any" name="color" checked/>
                    <p class="any-text">
                        Any
                    </p>
                </label>
                <label class="white">
                    <input class="color-radio" type="radio" id="black" value="White" name="color"/>
                    White
                </label>
                <label class="black">
                    <input class="color-radio" type="radio" id="white" value="Black" name="color"/>
                    Black
                </label>
            </div>
        </div>
        
        <div class="form-section">
            <p class="extended-subtitle">Rating range</p>
            <div class="form-values">
                <input type="number" min="0" max="4000" placeholder="0" onchange="validateRating(this)" class="form-input" id="minRating"/>
                <p class="separator">—</p>
                <input type="number" min="0" max="4000" placeholder="+∞" onchange="validateRating(this)" class="form-input" id="maxRating"/>
            </div>
        </div>
        
        <button type="submit" class="play-button">Play</button>
    </form>
    <a class="fast-start" asp-action="GameCreation" asp-controller="Game">Fast start</a>
</div>
<script>
function validateTime(input) {
    const min = parseInt(input.min);
    const max = parseInt(input.max);

    if (input.value < min) {
        input.value = min;
    } else if (input.value > max) {
        input.value = max;
    }
}
function validateRating(input) {
    const min = parseInt(input.min);
    const max = parseInt(input.max);
    const minRatingInput = document.getElementById('minRating');
    const maxRatingInput = document.getElementById('maxRating');

    if (input.value < min) {
        input.value = min;
    } else if (input.value > max) {
        input.value = max;
    }
    if (maxRatingInput.value) {
        if (minRatingInput.id === 'minRating' && maxRatingInput.value < minRatingInput.value) {
            maxRatingInput.value = minRatingInput.value;
        } else if (maxRatingInput.id === 'maxRating' && maxRatingInput.value < minRatingInput.value) {
            minRatingInput.value = maxRatingInput.value;
        }
    }
}
</script>