@model CoffeeChess.Application.Games.Dto.PlayerGameInfoDto

<div data-page-module-src="/js/game/game-started.js"></div>
<div class="game-info-data" data-game-info>@Json.Serialize(Model)</div>
<div class="game-left-panel hideable" data-animation-order="1">
    <div class="spacer-for-music-player"></div>
    <div class="chat-panel">
        <p class="chat-title">Chat</p>
        <div id="chatMessages" class="milk-scrollable">
            <div class="chat-message">
                <span class="chat-message-sender">Coffee shop:</span>
                <span class="chat-message-text">You have 10 seconds to make first move.</span>
            </div>
        </div>
        <input type="text" id="chatInput" placeholder="Type something..."/>
    </div>
</div>
<div class="game-middle-panel hideable" data-animation-order="2">
    <div class="player-info">
        <div class="player-avatar">
            <img src="/img/empty-avatar-icon.png" alt="Avatar"/>
        </div>
        <div class="player-nick-and-rating">
            <span class="player-nick" id="blackUsername">ILikeSpaghetti</span>
            <span class="player-rating" id="blackRating">1801</span>
        </div>
        <div class="info-container">
            <span class="info" id="blackTimeLeft">
                04:54
            </span>
        </div>
        <div class="info-container hide">
            <span class="info" id="blackPoints">
                ?
            </span>
        </div>
    </div>
    <div class="game-board-container">
        <div id="myBoard"></div>
    </div>
    <div class="player-info">
        <div class="player-avatar">
            <img src="/img/empty-avatar-icon.png" alt="Avatar"/>
        </div>
        <div class="player-nick-and-rating">
            <span class="player-nick" id="whiteUsername">Pizze_Love</span>
            <span class="player-rating" id="whiteRating">1761</span>
        </div>
        <div class="info-container">
            <span class="info" id="whiteTimeLeft">
                02:03
            </span>
        </div>
        <div class="info-container hide">
            <span class="info" id="whitePoints">
                ?
            </span>
        </div>
    </div>
</div>

<div class="game-right-panel hideable" data-animation-order="3">
    <div class="moves-history">
        <p class="history-title">Moves</p>
        <div class="history milk-scrollable" id="history">
            <div class="history-subtitles">
                <div class="history-subtitle-number">№.</div>
                <div class="history-subtitle">White</div>
                <div class="history-subtitle">Black</div>
            </div>
        </div>
        <div class="resign-draw-info">
            <p id="resignDrawMessage" class="resign-draw-message"></p>
            <div id="resignDrawButtonsContainer" class="resign-draw-buttons">
                <button id="drawOfferButton" class="resign-draw-button">Offer draw ½</button>
                <button id="resignButton" class="resign-draw-button">Resign ⚑</button>
            </div>
            <div id="resignConfirmationContainer" class="resign-draw-buttons">
                <button id="confirmButton" class="resign-draw-button">Yes</button>
                <button id="denyButton" class="resign-draw-button">No</button>
            </div>
            <div id="drawOfferContainer" class="resign-draw-buttons">
                <button id="acceptButton" class="resign-draw-button">Accept</button>
                <button id="declineButton" class="resign-draw-button">Decline</button>
            </div>
        </div>
    </div>
</div>

<div id="modalOverlay" class="modal-overlay"></div>

<div id="promotionPanel" class="promotion-panel">
    <div class="promotion-content">
        <img src="/img/chesspieces/wQ.png" alt="Queen" data-promotion-char="q" class="promotion-piece white-piece"/>
        <img src="/img/chesspieces/wR.png" alt="Rook" data-promotion-char="r" class="promotion-piece white-piece"/>
        <img src="/img/chesspieces/wB.png" alt="Bishop" data-promotion-char="b" class="promotion-piece white-piece"/>
        <img src="/img/chesspieces/wN.png" alt="Knight" data-promotion-char="n" class="promotion-piece white-piece"/>
        <img src="/img/chesspieces/bQ.png" alt="Queen" data-promotion-char="q" class="promotion-piece black-piece"/>
        <img src="/img/chesspieces/bR.png" alt="Rook" data-promotion-char="r" class="promotion-piece black-piece"/>
        <img src="/img/chesspieces/bB.png" alt="Bishop" data-promotion-char="b" class="promotion-piece black-piece"/>
        <img src="/img/chesspieces/bN.png" alt="Knight" data-promotion-char="n" class="promotion-piece black-piece"/>
        <img id="promotionPanelCloseButton" src="/img/promotion-close-icon.png" alt="Close" class="promotion-cross"/>
    </div>
</div>

<div id="resultPanel" class="modal-panel textured-background-1">
    <div class="result-detailed">
        <p id="resultTitle" class="modal-title"></p>
        <p id="resultInfo" class="result-info"></p>
    </div>
    <div class="modal-section rating-section">
        <p class="modal-section-title">New rating:</p>
        <div class="result-ratings-info">
            <p id="oldRating" class="result-info"></p>
            <p id="ratingDelta" class="result-info"></p>
            <p id="newRating" class="result-info"></p>
        </div>
    </div>
    <div class="modal-buttons">
        <button id="analyzeButton" class="modal-button">
            Review
        </button>
        <a id="goToMainMenuButton" class="ajax-nav-link modal-button" 
           asp-controller="Game"  asp-action="GameCreation">
            Menu
        </a>
    </div>
</div>
