@model CoffeeChess.Web.Models.ViewModels.ChallengeSettingsViewModel

<div data-page-module-src="/js/game/waiting.js"></div>

<div class="waiting-panel hideable textured-background-1 milk" data-animation-order="1">
    <p id="waitingTitle" class="waiting-title">Searching.</p>
    <img src="/img/coffee-need.gif" alt="Coffee gif" class="coffee-gif"/>
    <div class="conditions">
        <div class="game-condition">
            <span class="condition-title">Time control:</span>
            <span class="condition">@Model.Minutes|@Model.Increment</span>
        </div>
        <div class="game-condition">
            <span class="condition-title">Color:</span>
            <span class="condition">@Model.ColorPreference</span>
        </div>
        <div class="game-condition">
            <span class="condition-title">Rating range:</span>
            <span class="condition">@Model.MinRating — @(Model.MaxRating == int.MaxValue ? "Any" : Model.MaxRating)</span>
        </div>
    </div>
    <a class="ajax-nav-link cancel-button" asp-controller="Game" asp-action="GameCreation">Cancel</a>
</div>