<div class="game-creation-panel">
    <p class="game-creation-title">Fast start</p>
    <div class="game-creation-row">
        <button class="game-creation-time-control">1|1</button>
        <button class="game-creation-time-control">3|2</button>
        <button class="game-creation-time-control">5|2</button>
    </div>
    <div class="game-creation-row">
        <button class="game-creation-time-control">10|5</button>
        <button class="game-creation-time-control">15|10</button>
        <button class="game-creation-time-control">30|15</button>
    </div>
    <a class="extended" asp-action="CreateGameExtended" asp-controller="Game">Extended settings</a>
</div>