@model GameViewModel

<div class="game-left-panel">
    <div class="chat-panel">
        <h1 class="chat-title">Chat</h1>
        <div class="chat-messages" id="chatMessages">
            <div class="chat-message">
                <span class="chat-message-sender">ILikeSpaghetti:</span>
                <span class="chat-message-text">nice game!</span>
            </div>
            <div class="chat-message">
                <span class="chat-message-sender">Pizza_Love:</span>
                <span class="chat-message-text">thanks!</span>
            </div>
        </div>
        <input type="text" id="chatInputGame" class="chat-input" placeholder="Type something..." />
    </div>
</div>
<div class="game-middle-panel">
    
</div>
<div class="game-right-panel">
    
</div>