@model GameViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

<div class="game-left-panel">
    <div class="music-player-panel">
        
    </div>
    <div class="chat-panel">
        <p class="chat-title">Chat</p>
        <div id="chatMessages">
            <div class="chat-message">
                <span class="chat-message-sender">Coffee shop:</span>
                <span class="chat-message-text">Game will start in 3... 2... 1... Play!</span>
            </div>
        </div>
        <input type="text" id="chatInput" placeholder="Type something..."/>
    </div>
</div>
<div class="game-middle-panel">
    <div id="myBoard"></div>
</div>
<div class="game-right-panel">
    
</div>

@if (SignInManager.IsSignedIn(User))
{
    <div id="currentUserData" data-username="@UserManager.GetUserName(User)" style="display: none;"></div>
}
else
{
    <div id="currentUserData" data-username="You" style="display: none;"></div> <!-- Имя для гостя -->
}
