.welcome-panel {
    background-color: var(--milk-coffee);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    
    box-sizing: border-box;
    padding: 50px;

    width: 550px;
    height: 550px;
    top: 54.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 50px;
    box-shadow: 
        0 0 0 8px var(--dark-coffee),
        0 0 0 12px var(--milk-coffee);
}

.welcome-title {
    font-family: 'Caprasimo', sans-serif;
    color: var(--dark-coffee);
    font-size: 80px;
    text-shadow: 
        -4px 4px 0 var(--milk-coffee),
        -8px 8px 0 var(--dark-coffee);
    margin: 0;
}

.welcome-text {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-coffee);
    font-size: 24px;
}

.welcome-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.welcome-button {
    background-color: var(--dark-coffee);
    color: var(--milk-coffee);
    text-decoration: none;
    
    border-radius: 100px;
    width: 160px;
    height: 60px;
    box-shadow: 
        -3px 3px 0 var(--milk-coffee),
        -6px 6px 0 var(--dark-coffee);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Caprasimo', sans-serif;
    font-size: 35px;
    
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.welcome-button:active {
    transform: translate(-6px, 6px);
    box-shadow:
        0 0 0 var(--milk-coffee),
        0 0 0 var(--dark-coffee);
}