.welcome-panel {
    background-color: var(--milk-coffee);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    
    box-sizing: border-box;
    padding: 50px;

    width: 550px;
    height: 550px;
    top: 54.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 50px;
    box-shadow: 
        0 0 0 8px var(--dark-coffee),
        0 0 0 12px var(--milk-coffee);
}

.welcome-title {
    font-family: 'Caprasimo', sans-serif;
    font-size: 80px;
    margin: 0;
    transition: top 1s ease, 
                left 1s ease,
                color 1s ease,
                text-shadow 1s ease,
                transform 1s ease;
}

.welcome-title.hide {
    opacity: 0;
}

.welcome-title.dark {
    color: var(--dark-coffee);
    text-shadow:
            -4px 4px 0 var(--milk-coffee),
            -8px 8px 0 var(--dark-coffee);
}

.welcome-title.milk {
    color: var(--milk-coffee);
    text-shadow:
            -4px 4px 0 var(--dark-coffee),
            -8px 8px 0 var(--milk-coffee);
}

.welcome-title-overlay {
    background-color: var(--dark-coffee);
    z-index: 2;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s ease, left 1s ease;
}

.welcome-title-overlay.hide {
    display: none;
}

#welcomeTitleForAnimation {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
}

#welcomeTitleForAnimation.hide {
    display: none;
}

.welcome-text {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-coffee);
    font-size: 24px;
}

.welcome-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.welcome-button {
    background-color: var(--dark-coffee);
    color: var(--milk-coffee);
    text-decoration: none;
    
    border-radius: 100px;
    width: 160px;
    height: 60px;
    box-shadow: 
        -3px 3px 0 var(--milk-coffee),
        -6px 6px 0 var(--dark-coffee);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Caprasimo', sans-serif;
    font-size: 35px;
    
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.welcome-button:active {
    transform: translate(-6px, 6px);
    box-shadow:
        0 0 0 var(--milk-coffee),
        0 0 0 var(--dark-coffee);
}

.welcome-text,
.welcome-button {
    transition: transform 1s ease, opacity 1s ease;
}

.welcome-text.hide,
.welcome-button.hide {
    transform: translateX(20%);
    opacity: 0;
}

.welcome-page-overlay {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-coffee);
    z-index: 2;
    transition: opacity 1s ease;
}

.welcome-page-overlay.hide {
    opacity: 0;
    pointer-events: none;
}